<%- include('_layouts/head') -%>

    <body>
        <%- include('_layouts/header') -%>
            <section id="page">
                <main class="wrapper">
                    <%- include('_layouts/asideLeft') -%>
                        <section class="articles">

                        </section>
                        <%- include('_layouts/asideRight') -%>
                </main>
            </section>
    </body>
    <%- include('_layouts/footer') -%>